<% provide(:title, 'Patron') %>
<h1>Create New Patron</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@patron, url: create_path) do |f| %>
      <%= render 'shared/patron_error_messages' %>
      
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form_control' %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form_control' %>
      
      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form_control' %>
      
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form_control' %>
      
      <%= f.submit "Create Patron", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>