<li>
  <%= content_tag :table, data:{url: viewOrders_path(format: :json)} do %>
    <thead>
      <tr>
        <th> OrderID </th>
        <th> print_location</th>
        <th> status </th>
        <th> payment </th>
        <th> takenby </th>
        <th colspan="2"></th>
      </tr>
    </thead>
    
    <tbody>
      
    </tbody>
  <%end%>
  
</li> 