<% provide(:title, "Edit Order") %>
<h1>Edit Order</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@order) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :patron_id %>
      <%= f.text_field :patron_id, class: 'form_control' %>

      <%= f.label :print_location %>
      <%= f.text_field :print_location, class: 'form_control' %>
      
      <%= f.label :payment %>
      <%= f.text_field :payment, class: 'form_control' %>
      
      <%= f.label :status %>
      <%= f.text_field :status, class: 'form_control' %>
      
      <%= f.label :staff_print %>
      <%= f.text_field :staff_print, class: 'form_control' %>
      
      <%= f.label :takenby %>
      <%= f.text_field :takenby, class: 'form_control' %>


      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
    
    <%= link_to "Delete Order", @order, method: :delete,
                                  data: { confirm: "Are you sure you wish to delete this Order?" } %>
  </div>
</div>