<% provide(:title, 'New Order') %>
<h1>Create New Order</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@order, url: createOrder_path) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <%= f.label :patron_id %>
      <%= f.text_field :patron_id, class: 'form_control' %>

      <%= f.label :print_location %>
      <%= f.select :print_location, ['College', 'Steenbock'], class: 'form_control' %>
      
      <%= f.label :payment %>
      <%= f.select :print_location, ['Personal Credit', 'Wiscard', 'Print Card', 'Funding String'], class: 'form_control' %>
      
      <%= f.label :status %>
      <%= f.text_field :status, class: 'form_control' %>
      
      <%= f.label :staff_print %>
      <%= f.select :staff_print, ['No', 'Staff Print'], class 'form_control' %>
      
      <%= f.label :takenby %>
      <%= f.text_field :takenby, class: 'form_control' %>
      
      <%= f.nested_fields_for :posters do |poster_form| %>
        
          <%= poster_form.label :file_name %>
          <%= poster_form.text_field :file_name, class: 'form_control' %>
          
          <%= poster_form.label :patron_id %>
          <%= poster_form.text_field :patron_id, class: 'form_control' %>
          
          <%= poster_form.label :quantity %>
          <%= poster_form.text_field :quantity, class: 'form_control' %>
          
          <%= poster_form.label :price %>
          <%= poster_form.text_field :price, class: 'form_control' %>
          
          <%= poster_form.label :width %>
          <%= poster_form.text_field :width, class: 'form_control' %>
          
          <%= poster_form.label :height %>
          <%= poster_form.text_field :height, class: 'form_control' %>
          
          <%= poster_form.label :comments %>
          <%= poster_form.text_field :comments, class: 'form_control' %>
          
          <%= poster_form.label :price_per_sqft %>
          <%= poster_form.text_field :price_per_sqft, class: 'form_control' %>
          
          <%= poster_form.label :paper_type %>
          <%= poster_form.select :paper_type, ['Satin', 'Glossy'], class: 'form_control' %>
        
      <% end %>
      
      <%= f.submit "Create Order", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>