<% provide(:title, 'View Orders') %>
<h1>Orders</h1>

<div class="media">
   <div class="media-body">
      <table class="table table-hover">
        <thead>
           <tr>
              <th> OrderID </th>
              <th> print_location</th>
              <th> status </th>
              <th> takenby </th>
              <th colspan="5"></th>
            </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.id %></td>
              <td><%= order.patron_id %></td>
              <td><%= order.status %></td>
              <td><%= order.payment %></td>
              <td><%= link_to 'Edit', edit_path(:id=> order.id), class: 'btn btn-mini btn-success' %></td>
              <td><%= link_to 'Delete', order, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are You Sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>



