<footer class="footer">
  <small>
    College Library | Computer and Media Center | Poster Tracking System
  </small>
  <nav>
    <ul>
      <!-- Links for Navigation here --> 
    </ul>
  </nav>
</footer>