<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Poster Tracking System", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Create", create_path   %></li>
        <li><%= link_to "View Orders", viewOrders_path %></li>
        <li><%= link_to "Settings", settings_path %></li>
      </ul>
    </nav>
  </div>
</header>